/*CSS RESET*/
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
ul{
    display: flex;
}
#navbar::before{
   content: "";
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: -1;
   height: 100%;
   width: 100%;
   opacity: 0.9px;
}
 /*Navigation Bar: list styling */
 }
 #navbar ul{
     display: flex; 
     font-family: 'Poppins', sans-serif;
 }
 #navbar ul li{
     list-style: none;
     font-size: 1.3rem;
     margin: -15px 13px;
     font-family: 'Baloo Tamma 2', cursive;
 }
 #navbar ul li a{
     color: black;
    display: block;
    padding: 8px 10px 0px 9px;
    margin: 6px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    background-color: burlywood;
    
}
#navbar ul li a:hover{
   background-color: white;
   color: black;
   
}
/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 680px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:url('../bg.jpg') no-repeat center center/ cover ;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0.9px;
}

#home h1{
    color: #ef00ff;
    text-align: center;
    font-weight: bold;
    font-family: 'Baloo Tamma 2', cursive;
}
#home p{
    color: #fffffff2;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

/* Services section */
#services{
    margin: 30px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 20px;
    margin: -1px 8px;
    border-radius: 35px;
    background-color: rgb(223, 218, 215);
}
#services .box img{
    height: 160px;
    display: block;
    margin: auto;
}
#services .box p{
    font-style: italic;
}

/* Client section */
#client-section{
    height: 344px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url(../vegetable.jpg);
    width: 100%;
    height: 50%;
    z-index: -1;
    opacity: 0.5px
    ;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 20px 70px;
}
#clients img{
   height: 130px;
   /* padding: 5px 91px; */
}


/* contact section */


#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: url(../clients2.jpg) no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.2rem;
}
#contact-box form{
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
}
footer{
    background-color:black;
    color: white;
    padding: 9px 20px;
}
/* Utility Classes */

.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Baloo Tamma 2', cursive;
}
.h-secondary{
    font-size: 1.8rem;
    padding: 12px;
    
    font-family: 'Baloo Tamma 2', cursive;
}
.btn{
    padding: 2px 6px;
    border: 3px solid darkblue;
    background-color: deepskyblue;
    color: white;
    margin: 15px 15px;
    border-radius: 17px;
    font-size: 1.5rem;
}
.btn:hover{
    background-color: grey;
    cursor: pointer;
}
.center{
    text-align: center;
}